.display-nav li{
    display:inline-block;
    margin-right: 30px;
}
.display-nav li:nth-of-type(1){
    margin-left: 40%;
}
nav li:hover{
    border: 8px solid green;
    border-radius: 10%;
    background-color: green;
    cursor: pointer;
}
 h1{
    text-align: center;
}
img{
    border-radius: 8%;
}
section article aside{
    text-align: center;
}
body{
    background-color: rgb(172, 172, 61);
    color:rgb(56, 55, 55);
   
}
